# Dependencies
**/node_modules/

# Build outputs
**/dist/
build
.next
out

# Cache and temp files
.turbo
.cache
*.tsbuildinfo

# IDE
.vscode

# Logs
*.log

# Lock files
pnpm-lock.yaml
package-lock.json

# OS
.DS_Store
